@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$break: 1000px;

body {
  background:	#343d46;
  color: white;
  font-family: 'Inconsolata', monospace;
  overflow-x: hidden;
  margin: 0;
  @media screen and (max-width: $break) {
    margin: 14px;
  }
}

.imprint {
  position: fixed;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1e2225;
  z-index: 3;
  overflow-y: scroll;
  display: none;

  &.visible {
    display: block;
  }

  .top-bar {
    text-align: center;
  }
}

.footer {
  margin-top: 200px;
  padding: 20px 0;
  text-align: center;
  p {
    margin: 25px 0 0 0;
  }
}

.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
  font-size: 42px;
  background: black;
  padding: 10px 12px;
  text-transform: uppercase;

  @media screen and (max-width: $break) {
    font-size: 24px;
  }
}

b {
  color: rgb(50, 226, 217);
  font-weight: 700;
}

a, a:visited {
  cursor: pointer;
  color: rgb(50, 226, 217);
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 7px;
  border-bottom: 2px solid rgb(50, 226, 217);
}

a:hover {
  color: rgb(0, 255, 242);
  border-bottom-color: rgb(0, 255, 242);
}

a:active {
  color: rgb(25, 151, 145);
  border-bottom-color: rgb(25, 151, 145);
}


h1 b {
  color: rgb(50, 226, 217);
  font-weight: 400;
}

.icon-link {
  border-bottom: none;
  display: inline-block;
  margin: 0 10px;
}

.section {
  position: relative;
  margin: 10vh 5vw;
  width: 90vw;
  height: 120vh;

  @media screen and (max-width: $break) {
    position: relative;
    margin: 0;
    width: 100%;
    height: 140vh;
  }
}

.section h1 {
  position: absolute;
  top: 60vh;
  left: 10px;
  margin: 0;
  z-index: 2;
  margin-right: 100px;

  @media screen and (max-width: $break) {
    top: 45vh;
    left: 5px;
    margin-right: 20px;
  }
}

.section .text {
  position: absolute;
  top: 70vh;
  left: 70px;
  right: 50px;
  bottom: 0;
  font-size: 32px;
  line-height: 2.4;

  @media screen and (max-width: $break) {
    left: 20px;
    right: 20px;
    top: 60vh;
    font-size: 24px;
    line-height: 1.8;
  }
}

.section .img {
  position: absolute;
  z-index: 1 !important;
  top: 0;
  left: 120px;
  bottom: 40vh;
  right:0;
  background-size: cover;
  background-position: center top;
  /* border-radius: 5px; */
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  filter: grayscale(90%);

  @media screen and (max-width: $break) {
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 52vh;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:	#343d46;
  z-index: 99;
  text-align: center;
  cursor: default;
}

.preloader-char {
  line-height: 1;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 89px);
  right: 0;
  margin: 0;
  font-size: 128px;
  width: 128px;
  height: 128px;
  padding: 25px 20px 25px 30px;
  border: 2px solid rgb(50, 226, 217);
  font-weight: bold;
  color: white;
  text-shadow: -6px 0 0 rgb(50, 226, 217);
}

.preloader-char {
  animation: spin 2s linear infinite;
}

.preloader.done {
  animation: fadeOut 0.4s linear forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes spin {
  0% {
    transform: rotate3d(1, 1, 1, 0) scale(1);
  }
  20% {
    transform: rotate3d(1, 1, 1, 100deg) scale(0.9);
  }
  40% {
    transform: rotate3d(1, 1, 1, 360deg) scale(1.4);
  }
  60% {
    transform: rotate3d(1, 1, 1, 360deg) scale(1.4);
  }
  100% {
    transform: rotate3d(1, 1, 1, 0) scale(1);
  }
}